@import url(./components/button.css);
@import url(./components/combobox.css);
@import url(./components/input.css);
@import url(./components/search-box.css);
@import url(./components/table.css);
@import url(./components/modal.css);
@import url(./components/form.css);


@import url(./layout/grid.css);
@import url(./layout/grid-form.css);
@import url(./layout/header.css);
@import url(./layout/sidebar.css);
@import url(./layout/main.css);



:root {
    --font-family: 'Roboto', sans-serif;
    --font-size: 14px;
    --color: #333;
}

body {
    margin: 0;
}

* {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color);
    box-sizing: border-box;
}