<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/Internship">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="assets/font/fontawesome-5.15.1/css/all.min.css">
    <title>Demo HTML/CSS</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <h2 class="header__brand">
                <i class="fas fa-th"></i>
                <img src="./assets/cukcuk-logo.png" class="header__logo" alt="cukcuk-logo">
            </h2>
            <nav class="header__nav">
                <select class="header__nav-region">
                    <option class="header__option" value="">Chi nhánh Hà Nội</option>
                    <option class="header__option" value="">Hồ Chí Minh</option>
                </select>
                <div class="header__user">
                    <img src="./assets/icon/avatar-default.png" class="header__user-avatar" alt="avatar">
                    <p class="header__user-name">Cao Sỹ Minh Hoàng</p>
                </div>
            </nav>
        </header>

        <aside id="aside" class="aside" collapse="off">
            <nav class="aside__nav">
                <ul class="aside__menu">
                    <li class="aside__menu-item">
                        <img src="./assets/icon/dashboard.png" class="aside__icon" alt="Trang chủ">
                        <p class="aside__text">Trang chủ</p>
                    </li>
                    <li class="aside__menu-item">
                        <img src="./assets/icon/report.png" class="aside__icon" alt="Báo cáo">
                        <p class="aside__text">Báo cáo</p>
                    </li>
                    <li class="aside__menu-item">
                        <img src="./assets/icon/dic-employee.png" class="aside__icon" alt="Nhân viên">
                        <p class="aside__text">Nhân viên</p>
                    </li>
                    <li class="aside__menu-item">
                        <img src="./assets/icon/setting.png" class="aside__icon" alt="Cài đặt">
                        <p class="aside__text">Cài đặt</p>
                    </li>
                </ul>
            </nav>
            <div class="aside__collapse">
                <img src="./assets/icon/btn-prev-page.svg" class="aside__icon aside__icon--collapse" alt="Thu gọn">
                <img src="./assets/icon/btn-next-page.svg" class="aside__icon aside__icon--extend" alt="Mở rộng">
                <p class="aside__text">Thu gọn</p>
            </div>
        </aside>

        <main class="main-content">
            <div class="main__header">
                <h2 class="main__caption">Quản lý Nhân viên</h2>
                <button id="btnAdd" class="button button--primary">
                    <img src="./assets/icon/add.png" class="button-icon" alt="Thêm mới">
                    Thêm mới
                </button>
            </div>
            <section class="main__section">
                <article class="main__header-article">
                    <form action="" class="search-box" method="get">
                        <input type="text" class="search-box__data" placeholder="Search...">
                        <button type="submit" class="search-box__button">
                            <img src="./assets/icon/search.png" class="search-box__icon" alt="Tìm kiếm">
                        </button>
                    </form>
                    <div class="main__header-article-feature">
                        <button class="button button--symbol main__header-button">
                            <img src="./assets/icon/export-excel-50.png" class="button-icon" alt="Xuất Excel">
                        </button>
                        <button class="button button--symbol main__header-button">
                            <img src="./assets/icon/refresh.png" class="button-icon" alt="Làm mới">
                        </button>
                    </div>
                </article>
                <div id="dataTable" class="main__data-grid">
                    <table class="table">
                        <thead>
                            <tr class="table__label">
                                <th class="table__cell" width="6%">STT</th>
                                <th class="table__cell" width="10%">Mã nhân viên</th>
                                <th class="table__cell" width="16%">Họ và tên</th>
                                <th class="table__cell" width="8%">Giới tính</th>
                                <th class="table__cell" width="10%">Ngày sinh</th>
                                <th class="table__cell" width="22%">Địa chỉ Email</th>
                                <th class="table__cell" width="28%">Địa chỉ</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="main__page">
                    <div id="countEmployee" class="main__record-count"></div>
                    <div class="main__page-control">
                        <p>Số bản ghi/Trang</p>
                        <select class="main__page-selection">
                            <option class="main__page-number" value="">1</option>
                            <option class="main__page-number" value="">2</option>
                            <option class="main__page-number" value="">3</option>
                        </select>
                        <div class="main__page-button">
                            <button class="button button--symbol">
                                <img src="./assets/icon/btn-prev-page.svg" class="button-icon" alt="Lùi trang">
                            </button>
                            <button class="button button--symbol">
                                <img src="./assets/icon/btn-next-page.svg" class="button-icon" alt="Lùi trang">
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <div class="overlay">
        <!-- FORM -->
        <div id="formEmployeeDetail" class="modal form">
            <div class="modal__header">
                <h2 class="modal__header-title">Thông tin nhân viên</h2>
                <button class="button--symbol modal__btn--close">
                    <img src="./assets/icon/close-48.png" class="button-icon" alt="Close">
                </button>
            </div>
            <form action="" class="modal__body" method="get">
                <!-- MÃ NHÂN VIÊN -->
                <div class="modal__body-data input m3">
                    <label class="input__label">Mã nhân viên <span style="color: red;">*</span></label>
                    <input id="txtEmployeeCode" type="text" class="input__data" required>
                    <div class="input__message-error"></div>
                </div>
                <!-- HỌ VÀ TÊN -->
                <div class="modal__body-data input m3">
                    <label class="input__label">Họ và tên <span style="color: red;">*</span></label>
                    <input id="txtFullname" type="text" class="input__data" required>
                    <div class="input__message-error"></div>
                </div>
                <!-- NGÀY SINH -->
                <div class="modal__body-data input m3">
                    <label class="input__label">Ngày sinh</label>
                    <input id="dateBirthday" type="date" class="input__data">
                    <div class="input__message-error"></div>
                </div>
                <!-- GIỚI TÍNH -->
                <div class="modal__body-data input m3">
                    <label class="input__label">Giới tính</label>
                    <div id="radioGender" class="input__radio-box">
                        <div class="input__radio-option">
                            <input type="radio" class="input__radio" name="gender" value="" checked>
                            <label class="input__radio-label">Nam</label>
                        </div>
                        <div class="input__radio-option">
                            <input type="radio" class="input__radio" name="gender" value="">
                            <label class="input__radio-label">Nữ</label>
                        </div>
                        <div class="input__radio-option">
                            <input type="radio" class="input__radio" name="gender" value="">
                            <label class="input__radio-label">Khác</label>
                        </div>
                    </div>
                    <div class="input__message-error"></div>
                </div>
                <!-- VỊ TRÍ -->
                <div class="modal__body-data combobox m6" src="https://cukcuk.manhnv.net/api/v1/Departments" drop="off">
                    <label class="combobox__label">Vị trí</label>
                    <div class="combobox__control">
                        <input id="cbPosition" type="text" class="combobox__data">
                        <button type="button" class="combobox__button">
                            <i class="fas fa-angle-down"></i>
                        </button>
                        <ul class="combobox__dropdown">
                            <li class="combobox__item"></li>
                        </ul>
                    </div>
                    <div class="input__message-error"></div>
                </div>
                <!-- SỐ CHỨNG MINH THƯ NHÂN DÂN -->
                <div class="modal__body-data input m4">
                    <label class="input__label">Số CMTND <span style="color: red;">*</span></label>
                    <input id="txtCMTND" type="text" class="input__data" required>
                    <div class="input__message-error"></div>
                </div>
                <!-- NGÀY CẤP -->
                <div class="modal__body-data input m2">
                    <label class="input__label">Ngày cấp</label>
                    <input id="dateReceive" type="date" class="input__data">
                    <div class="input__message-error"></div>
                </div>
                <!-- PHÒNG BAN -->
                <div class="modal__body-data combobox m6" src="https://cukcuk.manhnv.net/api/v1/Departments" drop="off">
                    <label class="combobox__label">Phòng ban</label>
                    <div class="combobox__control">
                        <input id="cbDepartment" type="text" class="combobox__data">
                        <button type="button" class="combobox__button">
                            <i class="fas fa-angle-down"></i>
                        </button>
                        <ul class="combobox__dropdown" hidden>
                            <li class="combobox__item"></li>
                        </ul>
                    </div>
                    <div class="input__message-error"></div>
                </div>
                <!-- NƠI CẤP -->
                <div class="modal__body-data input m6">
                    <label class="input__label">Nơi cấp</label>
                    <input id="txtReceivePlace" type="text" class="input__data">
                    <div class="input__message-error"></div>
                </div>
                <!-- ĐỊA CHỈ -->
                <div class="modal__body-data input m12">
                    <label class="input__label">Địa chỉ</label>
                    <input id="txtAddress" type="text" class="input__data">
                    <div class="input__message-error"></div>
                </div>
                <!-- ĐIỆN THOẠI DI ĐỘNG -->
                <div class="modal__body-data input m4">
                    <label class="input__label">ĐT Di động <span style="color: red;">*</span></label>
                    <input id="txtPhoneNumber" type="text" class="input__data" required>
                    <div class="input__message-error"></div>
                </div>
                <!-- ĐIỆN THOẠI CỐ ĐỊNH -->
                <div class="modal__body-data input m4">
                    <label class="input__label">ĐT Cố định</label>
                    <input id="txtPhoneDesktop" type="text" class="input__data">
                    <div class="input__message-error"></div>
                </div>
                <!-- EMAIL -->
                <div class="modal__body-data input m4">
                    <label class="input__label">Email <span style="color: red;">*</span></label>
                    <input id="txtEmail" type="text" class="input__data" required>
                    <div class="input__message-error"></div>
                </div>
                <!-- TÀI KHOẢN NGÂN HÀNG -->
                <div class="modal__body-data input m4">
                    <label class="input__label">Tài khoản ngân hàng</label>
                    <input id="txtBankAccount" type="text" class="input__data">
                    <div class="input__message-error"></div>
                </div>
                <!-- TÊN NGÂN HÀNG -->
                <div class="modal__body-data input m4">
                    <label class="input__label">Tên ngân hàng</label>
                    <input id="txtBankName" type="text" class="input__data">
                    <div class="input__message-error"></div>
                </div>
                <!-- CHI NHÁNH -->
                <div class="modal__body-data input m4">
                    <label class="input__label">Chi nhánh</label>
                    <input id="txtBranch" type="text" class="input__data">
                    <div class="input__message-error"></div>
                </div>
            </form>

            <div class="modal__footer">
                <button class="button button--secondary">Hủy</button>
                <button id="btnSave" class="button button--primary">Thêm mới</button>
            </div>
        </div>
    </div>

    <div class="overlay">
        <!-- DIAGLOG -->
        <div class="modal dialog dialog--notice">
            <div class="modal__header">
                <h2 class="modal__header-title"></h2>
                <button class="button--symbol modal__btn--close">
                    <img src="./assets/icon/close-48.png" class="button-icon" alt="Close">
                </button>
            </div>
            <div class="modal__body"></div>
            <div class="modal__footer">
                <button class="button dialog__button--confirm button--primary">Đồng ý</button>
            </div>
        </div>
    </div>

    <!-- TOAST -->
    <div class="toast">
        <img src="./assets/icon/question-48.png" class="toast__symbol" alt="Question">
        <p class="toast__description">Đây là nội dung của Toast Messenger</p>
        <button class="button--symbol">
            <img src="./assets/icon/close-48.png" class="button-icon" alt="Close">
        </button>
    </div>

    <!-- SPINNER -->
    <div id="spinner" class="overlay">
        <i class="fas fa-spinner fa-spin"></i>
    </div>

    <script src="./js/employee/employee.js"></script>
</body>

</html>