.form-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(50px, 1fr));
    grid-template-rows: auto;
    gap: 8px;
}

.form__area--1 {
    grid-column: auto / span 1;
}

.form__area--2 {
    grid-column: auto / span 2;
}

.form__area--3 {
    grid-column: auto / span 3;
}

.form__area--4 {
    grid-column: auto / span 4;
}

.form__area--5 {
    grid-column: auto / span 5;
}

.form__area--6 {
    grid-column: auto / span 6;
}
.form__area--7 {
    grid-column: auto / span 7;
}

.form__area--8 {
    grid-column: auto / span 8;
}

.form__area--9 {
    grid-column: auto / span 9;
}

.form__area--10 {
    grid-column: auto / span 10;
}

.form__area--11 {
    grid-column: auto / span 11;
}

.form__area--12 {
    grid-column: auto / span 12;
}