.button {
    min-width: 80px;
    height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
}

.button+.button {
    margin-left: 8px;
}
.button--table{
    min-width: 0px;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E6E6E6;
    border: none;
}
.button--primary {
    background-color: #50B83C;
    border: none;
    color: #fff;
}

.button--primary:hover {
    background-color: #57C841;
}

.button--primary:active {
    background-color: #204918;
}

.button--primary.button--error {
    background-color: #E81E1E;
}

.button--secondary {
    background-color: #fff;
    border: 2px solid #E6E6E6;
    color: #1F1F1F;
}

.button--secondary:hover {
    background-color: #f6f6f6;
}

.button--secondary:active {
    background-color: #ebebeb;
}

.button-close {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

.button-icon {
    width: 20px;
}