.input {
    display: inline-flex;
    flex-direction: column;
}

.input__label {
    font-weight: 500;
}

.input__data {
    height: 36px;
    padding: 0 12px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #EBEBEB;
    outline: none;
}

.input__data::placeholder {
    color: #999;
}

.input__data:hover {
    background-color: #F6F6F6;
    cursor: text;
}

.input__data:focus {
    border-color: #50B83C;
}

.input__data--error {
    border-color: #E61D1D;
}
.input__radio-box{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 36px;
    margin-top: 8px;
}
.input__radio-option{
    display: flex;
    align-items: center;
}
.input__radio{
    margin: 3px;
    cursor: pointer;
}