.table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
    background: #fff;
    table-layout: fixed;
}

.table__label {
    position: sticky;
    top: 0;
    background: #EEEEEE;
    cursor: default;
    z-index: 1;
}

.table__label>.table__cell {
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
}

.table__record {
    cursor: default;
}

.table__record>.table__cell {
    border: 1px solid #E6E6E6;
}

.table__record:hover {
    background: #F6F6F6;
}
.table__record:hover .table__option {
    display: inline-flex;
}
.table__cell {
    position: relative;
    min-height: 36px;
    line-height: 36px;
    padding: 0 8px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table__option {
    position: absolute;
    top: 0;
    right: 8px;
    height: 36px;
    display: none;
    align-items: center;
    float: right;
}


.table__option>.button--symbol:hover {
    background-color: #fff;
}