.toast {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 280px;
    margin: 8px;
    padding: 16px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.toast:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2),
        0 12px 40px rgba(0, 0, 0, 0.2);
}

.toast__symbol {
    width: 30px;
    margin-right: 8px;
}

.toast__description {
    margin: 0;
}